body { margin : 0; }

.header {
    width  : 100%;
    margin : 0 auto;
    }

.header__firstBox {
    width            : 100%;
    height           : 45px;
    background-color : #404040;
    margin           : 0 auto;
    }

.header__secondBox {
    position         : relative;
    width            : 100%;
    height           : 70px;
    background-color : rgba(208, 208, 208, 0.67);
    margin           : 0 auto;
    box-shadow       : 0 12px 15px -7px #b8b8b8;
    }

.envelope-img {
    width  : 24px;
    height : 16px;
    }

.mail_container {
    display  : inline-block;
    position : absolute;
    width    : 255px;
    margin   : 12px;
    }

.email {
    font-family     : arial, sana serif;
    font-size       : 14px;
    text-decoration : none;
    color           : rgba(208, 208, 208, 0.67);
    }

.header__firstBox__menu {
    /*list-style-type:none;*/
    margin  : 0;
    padding : 0;
    float   : right;
    display : inline-block;
    }

.header__firstBox__menu__listItems {
    display     : inline-block;
    margin      : 12px;
    font-family : arial, sans-serif;
    font-size   : 14px;
    }

.header__firstBox__menu__listItem__link {
    text-decoration : none;
    color           : rgba(208, 208, 208, 0.67);
    }

.icon {
    color   : rgba(208, 208, 208, 0.67);
    padding : 4px;
    }

.header__secondBox__menu {
    position        : absolute;
    top             : 3px;
    right           : 10px;
    display         : inline-block;
    list-style-type : none;
    }

.header__secondBox__menu__listItems {
    display : inline-block;
    }

.header__secondBox__menu__listItem__link {
    text-decoration : none;
    color           : #404040;
    font-family     : verdana, sans-serif;
    font-size       : 21px;
    margin          : 20px;
    }

.hover:hover {
    background-color : #404040;
    color            : #b8b8b8;
    border-top       : 1px solid rgba(208, 208, 208, 0.67);
    padding          : 18px 0 25px 0;
    }

.mmt {
    display        : inline-block;
    margin         : 0;
    text-transform : uppercase;
    padding-top    : 10px;
    padding-left   : 62px;
    font-size      : 40px;
    color          : #404040;
    }

.left-side {
    width   : 200px;
    display : inline-block;
    }

.meaning {
    display      : block;
    font-family  : verdana, sans-serif;
    font-size    : 7px;
    word-spacing : 3px;
    padding-left : 62px;
    }

.the-letter-t {
    color : rgb(38, 111, 165);
    }

.arrow-down {
    position     : absolute;
    width        : 0;
    height       : 0;
    border-left  : 18px solid transparent;
    border-right : 18px solid transparent;
    border-top   : 18px solid #404040;
    top          : 20px;
    left         : 20px;
    }

.arrow-left {
    width         : 0;
    height        : 0;
    border-top    : 16px solid transparent;
    border-bottom : 16px solid transparent;
    border-right  : 16px solid rgb(38, 111, 165);
    position      : absolute;
    top           : 24px;
    left          : 38px;
    }

.triangle {
    width         : 0;
    height        : 0;
    border-top    : 23px solid transparent;
    border-bottom : 23px solid transparent;
    border-right  : 23px solid rgb(205, 218, 76);
    position      : absolute;
    transform     : rotate(-45deg);
    top           : 25px;
    left          : 17px;
    }

.page__content {
    width  : 100%;
    margin : 0 auto;
    }

.active { background-color : rgb(205, 218, 76);
    color                  : white;
    border-top             : 1px solid rgba(208, 208, 208, 0.67);
    padding                : 18px 0 25px 0;
    }

.image {
    width  : 100%;
    height : auto;
    }

.container {
    }

.container__firstRow {
    width          : 517px;
    height         : 75px;
    color          : white;
    display        : inline-block;
    text-transform : uppercase;
    font-size      : 30px;
    text-align     : center;
    box-sizing     : border-box;
    /* margin: 43px; */
    padding-top    : 20px;
    }

.container__firstRow--yellow { background-color : rgb(205, 218, 76); }

.container__firstRow--blue { background-color : rgb(38, 111, 165); margin-left : 3%; }

.container__firstRow--black { background-color : #404040; margin-left : 3%; }

.container__secondRow {
    width    : 512px;
    height   : 200px;
    display  : inline-block;
    position : relative;
    }

.container__secondRow--yellow { border-left : 5px solid rgb(205, 218, 76); }

.container__secondRow--blue { border-left : 5px solid rgb(38, 111, 165); margin-left : 3%; }

.container__secondRow--black { border-left : 5px solid #404040; margin-left : 3%; }

.secondRow__text { position : absolute;
    width                   : 340px;
    top                     : 57px;
    left                    : 50px;
    }
.lineContainer{
    margin-top:100px;
    }

.lineContainer__trustLine,.lineContainer__enthusiasmLine {
    height: 115px;
    background-color: rgba(211, 211, 211, 0.62);
    position:relative;
    }

.lineContainer__trustLine--blue {
    border-left: 20px solid rgb(38, 111, 165);
    }

.lineContainer__experienceLine {
    height:115px;
    background-color:rgba(128, 128, 128, 0.33);
    position:relative;
    }

.lineContainer__experienceLine--black {
    border-left:20px solid #404040;
    }

.lineContainer__enthusiasmLine--yellow {
    border-left:20px solid rgb(205, 218, 76);
    }

.shortText{
    position: absolute;
    top: 43px;
    left: 40px;
    text-transform: uppercase;
    font-size: 26px;
    }
.longText{
    position: absolute;
    left: 500px;
    top: 40px;
    font-size: 20px;
    }

.yellow-line{
    height: 7px;
    background-color: rgb(205, 218, 76);
    margin: 40px 0 40px 0;
    }
.box__container {
    margin-bottom:40px;
    }
.box {
    position:relative;
    width:282px;
    height:290px;
    background-color:rgba(211, 211, 211, 0.62);
    display:inline-block;
    margin:0 23px;
    }
.circle{
    position:absolute;
    width: 70px;
    height: 70px;
    background-color: white;
    border: 6px solid rgb(205, 218, 76);
    border-radius: 100%;
    top: 35px;
    left: 100px;
    }
.circle__image {
    position: absolute;

    }
.circle__image--globe{
    top: 10px;
    left: 15px;
    }
.circle__image--group{
    top: 15px;
    left: 8px;
    }
.circle__image--laptop{
    top: 10px;
    left: 9px;
    }
.circle__image--lamp{
    top: 15px;
    left: 15px;
    }
.circle__image--writing{
    top: 8px;
    left: 13px;
    }
.box__heading {
    position:absolute;
    }
.box__heading--forFirst {
    top: 135px;
    left: 26px;
    }
.box__heading--forSecond {
    top: 135px;
    left: 26px;
    }
.box__paragraphs {position :absolute;}
.box__paragraph--SaledforceCustomization{ top: 160px; left: 26px; }
.box__paragraph--SaledforceDevelopment{    top: 180px; left:26px;}
.box__paragraph--SaleforceAdministration{ top:200px; left:26px;}

.box__heading--forThird{top: 105px; left:26px; }
.box__paragraph--dataEntry{top:150px; left:26px;}
.box__paragraph--WebResearch{top:170px; left:26px;}
.box__paragraph--ProjectManagmant{top:190px; left:26px;}
.box__paragraph--PersonalAssistant{top:210px; left:26px;}

.box__heading--forFourth{top:120px;left:26px;}
.box__paragraph--graphicDesign{top:150px; left:26px;}
.box__paragraph--logoDesign{top:170px;left:26px;}
.box__paragraph--audioVideo{top:190px;left:26px;}
.box__paragraph--presentations{top:210px;left:26px;}

.box__heading--forFifth{top:150px;left:26px;}
.box__paragraph--webContent{top:180px;left:26px;}
.box__paragraph--technicalWriting{top:200px; left:26px;}
.box__paragraph--editing{top:220px;left:26px;}

.footer {
    position         : relative;
    width            : 100%;
    height           : 75px;
    background-color : #404040;
    color            : rgba(208, 208, 208, 0.67);
    margin           : 0 auto;
    box-sizing       : border-box;
    padding          : 15px;
    }

.copyright {
    font-size : 12px;
    position  : absolute;
    top       : 30px;
    left      : 700px;
    }

.active { background-color : #404040;
    color                  : #b8b8b8;
    border-top             : 1px solid rgba(208, 208, 208, 0.67);
    padding                : 18px 0 25px 0;
    }